@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BR-sonoma-bold";
    src: url("public/br-sonoma-font-family/BRSonoma-Bold.otf");
}

@font-face {
    font-family: "BR-sonoma-semi-bold";
    src: url("public/br-sonoma-font-family/BRSonoma-SemiBold.otf");
}

@font-face {
    font-family: "BR-sonoma";
    src: url("public/br-sonoma-font-family/BRSonoma-Regular.otf");
}
@font-face {
    font-family: "BR-sonoma-medium";
    src: url("public/br-sonoma-font-family/BRSonoma-Medium.otf");
}

@layer base {
    html {
        font-family: "BR-sonoma", system-ui, sans-serif;
    }
}
